<ion-header>
  <ion-toolbar class="toolbar_style">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
		{{ 'APPNAME' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
		<div class="center" style="width: 25%;">	
			<img src="/assets/comprise_logo.jpg" style="width: 10vh; height: 10vh;" alt="" />
		</div>
		<div class="center" style="width: 75%;">
			<ion-card-header>
				<ion-card-title>{{ 'WELCOME' | translate }}</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				{{ "INTRO" | translate }}
			</ion-card-content>
		</div>
    </ion-card>
	
	 <ion-item>
		<ion-label>Language</ion-label>
		<ion-select (ionChange)="changeLanguage($event)" [(ngModel)]="privateStorage.lang" placeholder="English">
			<ion-select-option *ngFor="let supportedLang of privateStorage.supportedLanguages" value="{{supportedLang}}">{{ supportedLang }}</ion-select-option> 
		</ion-select>
	</ion-item>
	
	<ion-card>
	<!--
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "SPEECH_TO_TEXT" | translate }}</p>
		<p id="speech_to_text" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "PRIVACY_DRIVEN_TEXT_TRANSFORMATION" | translate }}</p>
		<p id="privacy_driven_text_transformation" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "MACHINE_TRANSLATION" | translate }}</p>
		<p id="machine_translation" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "INTENT" | translate }}</p>
		<p id="intent" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "ANSWER" | translate }}</p>
		<p id="answer" style="color: blue; text-align: center; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "TRANSLATED_ANSWER" | translate }}</p>
		<p id="translated_answer" style="color: blue; text-align: center; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
    -->
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "SPEECH_TO_TEXT" | translate }}</p>
		<p id="speech_to_text" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "PRIVACY_DRIVEN_TEXT_TRANSFORMATION" | translate }}</p>
		<p id="privacy_driven_text_transformation" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "MACHINE_TRANSLATION" | translate }}</p>
		<p id="machine_translation" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "INTENT" | translate }}</p>
		<p id="intent" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "ANSWER" | translate }}</p>
		<p id="answer" style="color: blue; text-align: center; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;">{{ "TRANSLATED_ANSWER" | translate }}</p>
		<p id="translated_answer" style="color: blue; text-align: center; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
 
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p id="speech_to_text" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p id="privacy_driven_text_transformation" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p id="machine_translation" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p id="intent" style="color: blue; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p id="answer" style="color: blue; text-align: center; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p style="display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>
		<p id="translated_answer" style="color: blue; text-align: center; display: flex; justify-content: center; align-items: center; margin: 5vw;"></p>

	</ion-card>
		
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button [disabled]="!isMicReady()" id="stop-btn" color="primary" (click)="record()">
			<ion-icon name="mic-outline"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>
